<div class="text-center d-flex flex-column align-items-center">
    <img src="~/img/logo.png" alt="Logo" class="mb-4" style="max-width: 300px;">
    <h1>Success</h1>
    <p>You've been successfully registered! You can now log in.</p>
    <a href="/Login?loginType=Donor" class="btn btn-danger px-4">Log In</a>
</div>