@model CenterDashboardViewModel

<div class="text-center d-flex flex-column align-items-center">
    <h1>Welcome @Model.DonationCenter.Name - @Model.DonationCenter.Location.Name</h1>
    <h2>Dashboard</h2>
    <h2>Add request</h2>
    <h2>Accept/reject appointments</h2>
</div>